In [1]:
import pandas as pd

In [2]:
station_file = pd.read_csv('./station.csv')
trip_file = pd.read_csv('./trip.csv', error_bad_lines =False)
weather_file = pd.read_csv('./weather.csv')
# station_file
# trip_file
# weather_file

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [3]:
duration = trip_file['tripduration'].mean()/60
duration

19.638261255666293

In [4]:
most_year_of_birth = trip_file['birthyear'].value_counts().idxmax()
age = 2021 - most_year_of_birth
age

34.0

# Mean tripduration

In [5]:
df_trip1=trip_file[["tripduration","gender"]].dropna()
new_da= df_trip1.groupby("gender")['tripduration'].mean()
new_da

gender
Female    706.723239
Male      564.880833
Other     613.347563
Name: tripduration, dtype: float64

In [6]:
ava_num_of_pike = station_file.current_dockcount.mean()
ava_num_of_pike

16.517241379310345

In [7]:
filtered_stat = station_file[['modification_date','install_dockcount','current_dockcount']].dropna()
curr_mod = filtered_stat['current_dockcount'].sum()- filtered_stat['install_dockcount'].sum()
curr_mod

-64

In [8]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(duration , 19.638261255666293 )
    assert_equal(age, 34.0)
    assert_equal(ava_num_of_pike, 16.517241379310345)
    assert_equal(curr_mod, -64)
    print("Passed")

test()

Passed

In [9]:
most_dockcount = station_file[['name', 'install_dockcount']].sort_values(['install_dockcount'], ascending=False).head(1)
most_dockcount

                                                 name  install_dockcount
22  Children's Hospital / Sandpoint Way NE & 40th ...                 30

In [10]:
trip_file.groupby("gender").mean()

              trip_id  tripduration    birthyear
gender
Female  107671.728342    706.723239  1978.368470
Male    107772.429399    564.880833  1980.119198
Other   124056.671816    613.347563  1980.227048

In [11]:
trip_file.groupby("gender").median()

         trip_id  tripduration  birthyear
gender
Female   94263.0       566.718     1982.0
Male     97371.5       457.516     1983.0
Other   129404.0       549.237     1987.0

# min birthe :

In [12]:
trip_file = trip_file[["birthyear","gender"]].dropna()
youngest = trip_file.groupby(["gender"])["birthyear"].min()
youngest

gender
Female    1931.0
Male      1936.0
Other     1952.0
Name: birthyear, dtype: float64

# Max Temp

In [13]:
trip_file=trip_file[["tripduration","birthyear","gender"]].dropna()
max_temp=trip_file.groupby(["birthyear","gender"])['tripduration'].max()
max_temp

KeyError: "['tripduration'] not in index"